/bin/
C:\Users\Lechie\Documents\GitHub\Team17\test\esof322\pa3\bin\Board.class
C:\Users\Lechie\Documents\GitHub\Team17\test\esof322\pa3\bin\Game.class
C:\Users\Lechie\Documents\GitHub\Team17\test\esof322\pa3\bin\Player.class
C:\Users\Lechie\Documents\GitHub\Team17\test\esof322\pa3\bin\Tile.class